.backImage {
    background-image: url('/backgroundImage.png');
    height: 397px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    display: flex;
    flex-direction: column;
    margin-left: 180px;
}

.titulo {
    margin-top: 157px;
    color: #000;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
}

.subtitulo {
    margin-top: 9px;
    color: #000;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
}

.busca {
    margin-top: 32px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.busca input {
    width: 933px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #000;
    box-sizing: border-box;
    border-radius: 5px 0px 0px 5px;
    padding-left: 16px;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
}

.busca button {
    color: #FFFFFF;
    font-family: Quicksand;
    font-size: 14px;
    width: 153px;
    height: 40px;
    border-radius: 0px 5px 5px 0px;
    border: 1px solid #C0392B;
    background: #C0392B;
}